language: node_js

cache:
  directories:
    - node_modules
    - ~/.npm
node_js: 
  - '16'
git:
  depth: 3
script:
  - yarn run
deploy:
  provider: pages
  edge: true
  skip-cleanup: true
  keep-history: true
  github-token: $GITHUB_TOKEN
  local-dir: dist/
  target-branch: gh-pages
  commit_message: "deploy semana 7 "
  on: 
    branch: dv_epz
