* {
    margin: 0;
    padding: 0;
  }
  body {
    min-width: 390px;
  }
  /* estilos header*/
  .navbar-header{
      height: 40px;
      font-family: 'Work Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      background: #652ec5;
      padding-left: 22px;
      padding-right: 22px;
  }
  .logoGov{
      width: 64px;
      height: 20px;
      margin-top: 10px;
  }
  .Gov-co{
      height: 20px;
      margin-right: 22px;
      margin-top: 10px;
      float: left;
      text-decoration: none;
      color: white;
  }
  
  
  #hr-main{
      background-color: #CCCCCC;
  }
  /* estilos navbar pagina resultados */
  .navbar{
      margin: 0;
      padding: 0;
      font-family: 'Work Sans', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
  }
  .logoIC{
      width: 152px;
      height: 32;
      margin-left: 49px;
  }
  .buscador{
      width: 528px;
      height: 40px;
      border: 1px solid #4B4B4B;
      border-radius: 20px;
      margin-left: 48px;
      align-content: center;
      padding-left: 12px;
      padding-right: 10px;
      background-color: white;
  }
  .buscador img{
      width: 18px;
      height: 18px;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 10px;
  }
  .buscador input{
      border: none;
      height: 30px;
      margin-top: 5px;
  }
  .filtro{
      margin-left: 18px;
  }
  .filtro img{
      margin-left: 10px;
  }
  .gurardados{
      margin-left: 207px;
  }
  .gurardados img{
      width: 23px;
      height: 23px;
      margin-right: 15px;
  }
  .main-resulatdo{
      display: grid;
      grid-template-columns: 70% 30%;      
  }
  
  
  
  .tarjeta-alfredo-alvares {
      text-align: start;
      border-radius: 15px;
      background-color: white;
      padding: 10px 20px;
      display: grid;
      grid-template-columns: 80% 20%;
  
      margin-left: 30px;
      margin-right: 20px;
      margin-top: 20px;
  }
  
  .tarjeta-alfredo-alvares h4 {
      padding-top: 10px;
      padding-bottom: 5px;
      color: #004884;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
  
  }
  
  .contenedor-informacion {
      display: flex;
      justify-content: initial;
      flex-direction:initial;
  
  
  }
  
  .titulo {
    color: rgba(0, 72, 132, 1);
    font-size: 14px;
    font-family: 'Work sans', sans-serif;
    padding-bottom: 1px;
    padding-left: 10px;
    margin-bottom: 12px;
  }
  
  .contenido {
      color:rgba(75, 75, 75, 1);
      font-size: 14px;
      font-family: 'Work sans', sans-serif;
      padding-bottom: 0px;
      padding-left: 10px;
  
  }
  
  .titulo-contenido-2 {
      padding-left: 120px;
  }
  
  .alfredo-circulo {
      display: flex;
      flex-direction: column;
      justify-content: center;
  
  }
  
  .alfredo-circulo p {
      font-size: 14px;
      font-family: 'Work sans', sans-serif;
      color:rgba(75, 75, 75, 1);
  }
  
  .imagen-texto {
      text-align: center;
  }
  /* estilos container estadisticas */
  .estadisticas{
      width: 100%;
      height: 264px;
  }
  /*ultima tarjeta eb*/
  .last-card {
      display:grid;
      grid-template-columns: 80% 20%;
      text-align: start;
      border-radius: 15px;
      padding: 10px 20px;   
      margin-left: 30px;
      margin-right: 20px;
      margin-top: 20px;
      background-color: white;
  }
  .last-card h4 {
      display: flex;
      justify-content: initial;
      flex-direction: initial;
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 5px;
      font-weight: 400;
      font-size: 20px;
      color: #004884;
      font-family: 'Montserrat', sans-serif;    
      
  }
  .card-info {
      display: flex;
      justify-content: initial;
      flex-direction:initial;
  }
  .rows {
      padding-left: 10px;
  }
  .title {
      padding-bottom: 10px;
      padding-left: 10px;
      font-family: 'Work sans', sans-serif;
      font-size: 14px;
      color: #004884;
  }
  .info {
      padding-bottom: 10px;
      padding-left: 10px;    
      font-size: 14px;
      font-family: 'Work sans', sans-serif;
      color:#4B4B4B;  
  
  }
  .rows-one {
      padding-left: 20px;
  }
  
  .icon-circle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      text-align: center;
  }
  .icon-circle p {
      font-size: 14px;
      font-family: 'Work sans', sans-serif;
      text-align: center;
      color:#4B4B4B;
  }
  .icon-save {
      height: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding-left: 25px;
  }
  .icon-save p {
      font-size: 14px;
      font-family: 'Work sans', sans-serif;
      padding-left: 0px;
      color:#3366CC;    
  }
  /* estilos relatoria */
  .relatoria{
      display: grid;
      grid-template-rows:50px 240px 240px 340px;
      height: 100%;
      margin-left: 0px;
      padding: 24px;
      margin: 0;
  }
  .countainer-estadistica{
      width: 100%;
      height: 176px;
      padding: 24px;
  }
  .countainer-estadistica p{
      font-family: 'Work Sans', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      color: #4B4B4B, 100%;
      margin-left: 50px;
  }
  .imagen-estadistica{
      width: 100%;
      height: 88px;
      margin-left: 50px;
      margin-right: 33px;
      margin-top: 16px;
  }
  .filtro-busqueda{
      width: 100%;
      height: 72px;
      padding: 24px;
      margin-bottom: 24px;
  }
  .filtro-busqueda p{
      font-family: 'Work Sans', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      color: #4B4B4B, 100%;
      margin-left: 50px;
  }
  .demanda{
      padding: 9px;
      height: 32px;
      background: #e6effda8, 100%;
      border: 0.5px solid #4b4b4b25;
      border-radius: 16px;
      margin-left: 50px;
      margin-right: 8px;
      font-size: 14px;
      color: #3366CC;
      font-weight: 400;
      line-height: 16px;
  }
  .demanda :hover{
      background: #6897e2cc;
  }
  .demanda img{
      width: 15px;
      height: 15px;
      margin-left: 27px;
  }
  .fecha{
      padding: 9px;
      height: 32px;
      background: #e6effda8, 100%;
      border: 0.5px solid #4b4b4b25;
      border-radius: 16px;
      margin-right: 8px;
      font-size: 14px;
      color: #3366CC;
      font-weight: 400;
      line-height: 16px;
  }
  .fecha img{
      width: 15px;
      height: 15px;
      margin-left: 27px;
  }
  .proteccion{
      padding: 9px;
      height: 32px;
      background: #e6effda8;
      border: 0.5px solid #4b4b4b25;
      border-radius: 16px;
      margin-right: 8px;
      font-size: 14px;
      color: #3366CC;
      font-weight: 400;
      line-height: 16px;
  }
  .proteccion img{
      width: 15px;
      height: 15px;
      margin-left: 27px;
  }
  .div-containers{
      display: none;
  }
  .div-containers :hover{
      display: block;
      color: #4B4B4B;
  }
  /* estilos container resultados */
  .container-resultados{
      width: 100%;
      height: 324px;
      padding: 24px;
      margin-top: 24px;
      margin-bottom: 48px;
  }
  .container-relevancia{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      margin-top: 36px;
      font-family: 'Work Sans', sans-serif;
  }
  .tresultados{
      margin-left: 50px;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      color: #4B4B4B;
  }
  .ordenar{
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #4B4B4B;
      margin-right: 8px;
  }
  .relevancia-boton{
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 2px;
      padding-bottom: 2px;
      color: #BABABA;
      border: 0.5px solid #4b4b4b25;
      border-radius: 5px;
  }
  .relevancia-boton img{
      margin-left: 15px;
  }
  /* tabla de impresion del resultado de la busqueda */
  .container-print{
      width: 100%;
      height: 216px;
      padding: 16px;
      border: 2px solid #3366CC;
      border-radius: 16px;
      display: grid;
      grid-template-columns: 83.75% 16.15%;
  }
  .container-principal h2{
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      color: #3366CC;
      padding: 10px;
  }
  .img-75{
      width: 40px;
      height: 40px;
      margin-top: 16px;
      margin-left: 20px;
      margin-bottom: 8px;
  }
  .img-75 img{
      margin-left: 15px;
  }
  .img-75 p{
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      font-family: 'Work Sans', sans-serif;
      color: #4B4B4B;
  }
  .container-table{
      display: grid;
      grid-template-columns: 36% 64%;
  }
  .container-table h4{
      font-family: 'Work Sans', sans-serif;
      font-size: 14px;
      font-weight: 400px;
      line-height: 24px;
      color: #3366CC;
  }
  .container-table p{
      font-family: 'Work Sans', sans-serif;
      font-size: 14px;
      font-weight: 400px;
      line-height: 24px;
      color: #4B4B4B;
      text-align: left;
  }
  .img-guardar{
      padding: 32px;
  }
  .img-guardar img{
      width: 14px;
      height: 18px;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 15px;
  }
  .img-guardar p{
      font-family: 'Work Sans', sans-serif;
      font-size: 16px;
      font-weight: 400px;
      line-height: 24px;
      color: #3366CC;
  }
  /* estilos navbar*/
  .navbar-header {
    height: 40px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    background: #3366cc;
    padding-left: 22px;
    padding-right: 22px;
  }
  .logoGov {
    width: 64px;
    height: 20px;
    margin-top: 10px;
  }
  .Gov-co {
    height: 20px;
    margin-right: 22px;
    margin-top: 10px;
    float: left;
    text-decoration: none;
    color: white;
  }
  .main-index{
      margin-bottom: 120px;
  }
  .main-index-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 112px;
    height: 48px;
  }
  .main-index-logo img {
    position: static;
    width: 232px;
    height: 48px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
  }
  .main-index-logo span {
    width: 120px;
    height: 48px;
    color: #004884;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 0px 16px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  .main-container-search {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding-top: 72px;
  }
  .main-index-search {
    display: flex;
    width: 520px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    border-radius: 20px;
  }
  .main-index-search:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
  }
  .main-index-search .icon-search {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14px;
    height: 14px;
  }
  .main-index-search input {
    width: 372px;
    height: 24px;
    padding-left: 10px;
    border: none;
    outline: none;
  }
  .main-index-search input::placeholder {
    color: #bababa;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .main-index-search .index-filtro {
    width: 70px;
    height: 24px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: #3366cc;
    font-size: 14px;
    line-height: 24px;
    padding-left: 8px;
  }
  .main-index-search .icon-down {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 9px;
    height: 6px;
  }
  .main-container-search button {
    width: 120px;
    height: 40px;
    padding: 8px 32px;
    background: #3366cc;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    margin-left: 8px;
  }
  .main-pdf-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 8px;
  }
  
  .main-pdf-text span {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4b4b4b;
  }
  .main-pdf-text a {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #3366cc;
  }
  .main-pdf-data {
    display: flex;
    width: 656px;
    height: 176px;
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
  }
  .main-pdf-data img {
    width: 96px;
    height: 48px;
  }
  
  .main-pdf-data .data-input {
    display: flex;
    justify-content: center;
  }
  .main-pdf-data .data-input input {
    position: absolute;
    opacity: 0;
  }
  .main-pdf-data .data-input span {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4b4b4b;
  }
  .main-pdf-data .data-input .selectData {
    color: #3366cc;
    text-decoration: underline #3366cc;
    padding: 0 5px;
  }
  footer {
    
    margin: 0 auto;
    width: 95vw;
    height: 239px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #dcdcdc;
  }
  .container-footer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .container-footer1 div {
    display: flex;
    flex-direction: column;
  }
  .container-footer1 .span-tex1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #2a2d82;
  }
  .container-footer1 .span-tex2 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #212529;
    padding: 5px 0;
  }
  .container-footer1 .span-tex3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4b4b4b;
  }
  .container-footer1 .span-tex4 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #16aaff;
  }
  .container-footer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .container-footer2 div {
    display: flex;
    flex-direction: column;
  }
  .container-footer2 .span-tex1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #2a2d82;
  }
  .container-footer2 .span-tex2 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #212529;
    padding: 5px 0;
  }
  .container-footer2 .span-tex3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4b4b4b;
  }
  .container-footer3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .container-footer3 div {
    display: flex;
    flex-direction: column;
  }
  .container-footer3 .span-tex1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #2a2d82;
  }
  .container-footer3 .span-tex2 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #212529;
    padding: 5px 0;
  }
  .container-footer3 .span-tex3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #4b4b4b;
  }
  .container-footer3 .span-tex4 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #16aaff;
  }
  .container-footer4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 120px;
  }
  .container-footer4 .span-tex1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #2a2d82;
  }
  .container-footer4 img {
    width: 237px;
    height: 51px;
    margin-left: 37px;
  }
  #hr-main {
    background-color: #cccccc;
  }
  .navbar {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .logoIC {
    width: 152px;
    height: 32;
    margin-left: 49px;
  }
  .buscador {
    width: 528px;
    height: 40px;
    border: 1px solid #4b4b4b;
    border-radius: 20px;
    margin-left: 48px;
    align-content: center;
    padding-left: 12px;
    padding-right: 10px;
  }
  .buscador img {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
  }
  .buscador input {
    border: none;
    height: 30px;
    margin-top: 5px;
  }
  .filtro {
    margin-left: 18px;
  }
  .filtro img {
    margin-left: 10px;
  }
  .gurardados {
    margin-left: 207px;
  }
  .gurardados img {
    width: 23px;
    height: 23px;
    margin-right: 15px;
  }
  .main-resulatdo {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  /* estilos relatoria */
  .head-relatoria{
    display: flex;
    align-content: center;
    flex-direction: column;
  }
  .head-relatoria .cerrar{
    display: none;
    cursor: pointer;
  }
  .button-mostrar{
    display: none;  
  }
  .relatoria {
    display: grid;
    grid-template-rows: 50px 240px 240px 340px;
    height: 100%;
    margin-left: 0px;
    padding: 24px;
    float: right;
  }
  .relatoria .title-relatoria {
    position: static;
    height: 24px;
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #004884;
    padding: 5px;
  }
  .relatoria .content-relatoria {
    width: 380px;
    height: 250px;
    border-top: 1px solid;
    border-color: #dcdcdc;
  }
  .relatoria .title-detail-relatoria {
    margin-top: 24px;
    position: static;
    height: 32px;
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #004884;
    padding: 5px;
  }
  .detail-relatoria {
    height: 16px;
    padding: 5px;
    font-family: work Sans;
    font-size: 14px;
    color: #4b4b4b;
  }
  .detail-relatoria .title-detail {
    color: #004884;
  }
  .bottom-relatoria {
    border: 1.5px solid #3366cc;
    margin-top: 20px;
    padding: 5px;
    width: 168px;
    text-align: center;
    border-radius: 30px;
  }
  .bottom-relatoria span {
    background-position: center;
    padding: 15px;
    background-repeat: no-repeat;
  }
  .bottom-relatoria a {
    color: #3366cc;
    font-size: 15px;
    height: 30px;
    font-family: Work Sans;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
  }
  .concidencias {
    padding: 5px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }
  .concidencias .title-concidencias {
    height: 32px;
    font-family: montserrat;
    font-size: 20px;
    color: #4b4b4b;
  }
  .concidencias .row-left {
    background-color: #f0f3f5;
    background-position: center;
    padding: 5px;
    background-repeat: no-repeat;
    border-radius: 8px 0px 0px 8px;
  }
  .concidencias .page {
    font-size: 14px;
    font-family: Poppins;
    background-color: #f0f3f5;
    padding: 7px;
    margin: 1px;
  }
  .concidencias .row-right {
    background-color: #f0f3f5;
    background-position: center;
    padding: 5px;
    background-repeat: no-repeat;
    border-radius: 0px 8px 8px 0px;
  }
  .text-concidencias {
    margin-top: 15px;
    font-family: Work Sans;
    font-size: 16px;
    line-height: 24px;
    color: #4b4b4b;
  }
  .number-relatoria {
    width: 360px;
    margin-top: 30px;
    font-family: "Work Sans";
    color: #4b4b4b;
    font-size: 16px;
  }
  
  /*footer*/
  .pagination-container {    
      display: flex;
      justify-content: center;
      font-family: 'Work sans', sans-serif;
      font-size: 14px;
      text-align: center;
      padding-left: 120px;
      padding-right: 5px;
      padding-bottom: 20px;
      padding-top: 20px;
      background-color: #FAFBFD;
      color:#004884;
  } 
  
  .pagination-container a {
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 3px;
      color: #3366CC; 
  }
  .pagination-one{    
      border-radius: 6px;    
      width: 25px;    
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;   
      background: #E6EFFD;
  }
  .pagination-two{
      border-radius: 6px;    
      width: 25px;    
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;   
  }  
  .pagination-dots{
      border-radius: 6px;    
      width: 25px;    
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;   
      
  }  
  .pagination-twenty {
      border-radius: 6px;    
      width: 25px;    
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;   
  }  

  /*Estilos para la cartelera*/

  .posterPeliculas {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }

  .pelicula-item {
    text-align: center;
    align-items: center;
    box-shadow: teal 0 10px 10px 0;
  }
  
  